<form #credentialForm="ngForm" (ngSubmit)="onSubmit(credentialForm)" class="credential-form">
  <div class="form-title">Add New Credential</div>
  <div class="row g-2 mb-3">
    <div class="col">
      <input 
        class="form-control" 
        [class.is-invalid]="siteInput.invalid && (siteInput.dirty || siteInput.touched)"
        placeholder="Site" 
        [(ngModel)]="site" 
        name="site" 
        #siteInput="ngModel"
        required 
        minlength="1" />
      <div class="invalid-feedback" *ngIf="siteInput.invalid && (siteInput.dirty || siteInput.touched)">
        Site is required
      </div>
    </div>
    <div class="col">
      <input 
        class="form-control" 
        [class.is-invalid]="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)"
        placeholder="Username" 
        [(ngModel)]="username" 
        name="username"
        #usernameInput="ngModel" 
        required 
        minlength="1" />
      <div class="invalid-feedback" *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
        Username is required
      </div>
    </div>
    <div class="col">
      <input 
        type="password" 
        class="form-control"
        [class.is-invalid]="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" 
        placeholder="Password" 
        [(ngModel)]="password" 
        name="password"
        #passwordInput="ngModel" 
        required 
        minlength="1" />
      <div class="invalid-feedback" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
        Password is required
      </div>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit" [disabled]="!credentialForm.form.valid">Add</button>
    </div>
  </div>
</form>